{% extends 'employees_app/base.html' %}

{% block body %}
    <br>
    <h1>Employees List</h1>
    <br>

    <table class="table table-hover table-sm ">
      <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">State</th>
            <th scope="col">Postal code</th>
            <th scope="col">City</th>
            <th scope="col">Phone number</th>
            <th scope="col">Position</th>
            <th scope="col">WSIB</th>
            <th scope="col">WHMIS</th>
            <th scope="col">Work on heights</th>
            <th scope="col">Worker health safety</th>
            <th scope="col">Propane in construction</th>
            <th scope="col">Notes</th>
            <th scope="col">Edit</th>
        </tr>
      </thead>

      {% for employee in employees_list %}
      <tbody>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.state }}</td>
        <td>{{ employee.postal_code }}</td>
        <td>{{ employee.city }}</td>
        <td>{{ employee.phone_number }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.wsib }}</td>
        <td>{{ employee.whmis }}</td>
        <td>{{ employee.work_heights }}</td>
        <td>{{ employee.worker_health_safety }}</td>
        <td>{{ employee.propane_in_construction }}</td>
        <td>{{ employee.note }}</td>
        <td><a href="{% url 'employees_app:edit_employee' id=employee.id %}" class="btn btn-outline-primary">EDIT</a></td>
      </tbody>
      {% endfor %}
    </table>



{% endblock %}