{% extends 'employees_app/base.html' %}

{% block body %}
    <br><br>
    <h1>M&R Employees App</h1>
    <p class="lead">Sign In to other M&R Systems</p>
    <br>
    <a href="https://traffic.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Tickets</a>
    <a href="http://www.maps.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Maps</a>

    <a href="https://www.mandrroofing.ca/freeQuote/" target="_blank" class="btn btn-outline-primary">M&R Free Quote</a>
    <a href="http://www.app.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Auto-Estimations</a>


{% endblock %}